---
name: Linting

on: # yamllint disable-line rule:truthy
  pull_request: {}
  push:
    branches:
      - main

jobs:
  pre-commit:
    name: Pre-commit
    uses: ./.github/workflows/wf-pre-commit.yml
    permissions:
      contents: read
