---
name: Labels

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  maintenance:
    name: Maintenance
    uses: ./.github/workflows/wf-sync-labels.yml
    permissions:
      contents: write
      issues: write
      pull-requests: write
