---
on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      test-command:
        description: |
          Command that is specified in manifest file to run with package manager:
          <package-manager> run <test-command> (e.g. "yarn run test")
        required: false
        default: "test"
        type: string
      report-coverage:
        description: |
          Either to report coverage results to the connected 3rd party service
          or not.
        required: false
        default: ${{ github.event_name == 'push' && github.ref_name == github.event.repository.default_branch }}
        type: boolean
      node-version-file:
        description: |
          File containing the version Spec of the version to use. Examples:
          package.json, .nvmrc, .node-version, .tool-versions.
        required: false
        default: ".tool-versions"
        type: string
      testing-framework:
        description: |
          Testing framework. Possible values: jest.
        required: false
        default: "jest"
        type: string
      json-report-file:
        description: |
          File path of the JSON report. Relevant only if testing-framework is
          "jest".
        required: false
        default: "jest-report.json"
        type: string

defaults:
  run:
    shell: sh

jobs:
  unit-tests-all:
    name: All
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v5
      - name: Prepare metadata
        id: metadata
        run: | # pragma: allowlist secret
          if [ -f "package-lock.json" ]; then
            package_manager="npm"
            cache_dependency_path="package-lock.json"
            cmd_install_dependencies="ci"
          elif [ -f "yarn.lock" ]; then
            package_manager="yarn"
            cache_dependency_path="yarn.lock"
            cmd_install_dependencies="install --immutable"
            echo "YARN_CHECKSUM_BEHAVIOR=update" >> "$GITHUB_ENV"
          elif [ -f "pnpm-lock.yaml" ]; then
            package_manager="pnpm"
            cache_dependency_path="pnpm-lock.yaml"
            cmd_install_dependencies="install --frozen-lockfile"
          else
            echo "No lock file found."
            exit 1
          fi
          echo "package-manager=${package_manager}" >> "$GITHUB_OUTPUT"
          echo "cache-dependency-path=${cache_dependency_path}" >> "$GITHUB_OUTPUT"
          echo "cmd-install-dependencies=${cmd_install_dependencies}" >> "$GITHUB_OUTPUT"
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version-file: "${{ inputs.node-version-file }}"
          cache: "${{ steps.metadata.outputs.package-manager }}"
          cache-dependency-path: "${{ steps.metadata.outputs.cache-dependency-path }}"
      - name: Install dependencies
        run: ${{ steps.metadata.outputs.package-manager }} ${{ steps.metadata.outputs.cmd-install-dependencies }}
      - name: Run tests
        env:
          INPUT_TEST_COMMAND: "${{ inputs.test-command }}"
          # translation-action
          DEEPL_API_KEY: "${{ secrets.DEEPL_API_KEY }}"
          MYMEMORY_API_KEY: "${{ secrets.MYMEMORY_API_KEY }}"
        run: ${{ steps.metadata.outputs.package-manager }} run ${INPUT_TEST_COMMAND}
      - name: Report coverage
        if: ${{ inputs.report-coverage }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Validate if JSON report exists
        if: ${{ inputs.testing-framework == 'jest' }}
        id: json-report-file
        env:
          INPUT_JSON_REPORT_FILE: "${{ inputs.json-report-file }}"
        run: |
          json_report_file_exists="false"
          if [ -f "${INPUT_JSON_REPORT_FILE}" ]; then
            json_report_file_exists="true"
          fi
          echo "exists=${json_report_file_exists}" >> "$GITHUB_OUTPUT"
      - name: Generate summary report
        if: ${{ steps.json-report-file.outputs.exists == 'true' }}
        id: generate-summary-report
        uses: im-open/process-jest-test-results@v2
        with:
          create-pr-comment: "false"
          create-status-check: "false"
          github-token: "${{ github.token }}"
          report-name: "Unit Tests Results"
          results-file: "${{ inputs.json-report-file }}"
          timezone: "Japan"
      - name: Print summary report
        if: ${{ steps.generate-summary-report.outputs.test-results-file-path != '' }}
        run: |
          report_file="${{ steps.generate-summary-report.outputs.test-results-file-path }}"
          cat "${report_file}" >> "$GITHUB_STEP_SUMMARY"
