---
on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      target-branch:
        description: |
          Target branch name in front of which you want to validate changed files,
          e.g. main
        required: false
        default: ${{ github.event.repository.default_branch }}
        type: string
      pre-commit-config-path:
        description: "Path to pre-commit config file"
        required: false
        default: ".pre-commit-config.yaml"
        type: string
      skip-hooks:
        description: "Comma-separated list of hooks to skip"
        required: false
        default: ""
        type: string

defaults:
  run:
    shell: sh

jobs:
  pre-commit:
    name: ${{ github.event_name == 'pull_request' && 'Changed files' || 'All files' }}
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/fabasoad/pre-commit-container:latest
    steps:
      - name: Prepare skip hooks
        id: prepare-skip-hooks
        env:
          INPUT_SKIP_HOOKS: "${{ inputs.skip-hooks }}"
          DEFAULT_SKIP_HOOKS: "no-commit-to-branch, grype-dir, osv-scanner, snyk-test"
        run: |
          skip_hooks="${DEFAULT_SKIP_HOOKS}"
          if [ -n "${INPUT_SKIP_HOOKS}" ]; then
            skip_hooks="${skip_hooks}, ${INPUT_SKIP_HOOKS}"
          fi
          echo "list=${skip_hooks}" >> "$GITHUB_OUTPUT"

      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Prepare pre-commit config
        id: pre-commit-config
        env:
          INPUT_PRE_COMMIT_CONFIG_PATH: ${{ inputs.pre-commit-config-path }}
        run: |
          file_path=$(mktemp --tmpdir="${RUNNER_TEMP}")
          sed '/^[[:space:]]*stages:[[:space:]]*\[/d' "${INPUT_PRE_COMMIT_CONFIG_PATH}" > "${file_path}"
          echo "path=${file_path}" >> "$GITHUB_OUTPUT"

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        env:
          SKIP: "${{ steps.prepare-skip-hooks.outputs.list }}"
        with:
          extra_args: --config ${{ steps.pre-commit-config.outputs.path }} ${{ github.event_name == 'pull_request' && format('--from-ref origin/{0} --to-ref {1}', inputs.target-branch, github.sha) || '--all-files' }}
