---
on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      dast-run:
        description: Whether to run DAST or not. Defaults to true.
        required: false
        default: true
        type: boolean
      target-url:
        description: Target URL to perform DAST analysis.
        required: false
        default: ""
        type: string
      ghas-category:
        description: String used by GHAS for matching analyses.
        required: false
        default: "default"
        type: string

jobs:
  nuclei:
    name: Nuclei
    if: inputs.dast-run && inputs.target-url != ''
    runs-on: macos-latest
    steps:
      - name: Perform scanning
        id: nuclei-scan
        uses: projectdiscovery/nuclei-action@main
        with:
          target: "${{ inputs.target-url }}"
          flags: "-severity critical,high,medium,low -stats"
      - name: Upload logs as artifact
        uses: actions/upload-artifact@v5
        with:
          name: report-nuclei
          path: nuclei.log
      - name: Upload SARIF as artifact
        if: steps.nuclei-scan.outputs.sarif_exists == 'true'
        uses: actions/upload-artifact@v5
        with:
          name: nuclei.sarif
          path: nuclei.sarif
      - name: Upload to GHAS
        if: steps.nuclei-scan.outputs.sarif_exists == 'true'
        uses: github/codeql-action/upload-sarif@v3
        with:
          category: "nuclei-${{ inputs.ghas-category }}"
          sarif_file: nuclei.sarif
  zap:
    name: ZAP
    if: inputs.dast-run && inputs.target-url != ''
    runs-on: ubuntu-latest
    steps:
      - name: Perform scanning
        uses: zaproxy/action-api-scan@v0.9.0
        with:
          target: "${{ inputs.target-url }}"
          allow_issue_writing: "false"
          artifact_name: report-zap
  dastardly:
    name: Dastardly
    if: inputs.dast-run && inputs.target-url != ''
    runs-on: ubuntu-latest
    steps:
      - name: Perform scanning
        uses: PortSwigger/dastardly-github-action@v1.0.0
        with:
          target-url: "${{ inputs.target-url }}"
      - name: Upload report as artifact
        uses: actions/upload-artifact@v5
        with:
          name: report-dastardly
          path: dastardly-report.xml
  pentest-tools:
    name: Pentest Tools
    if: inputs.dast-run && inputs.target-url != ''
    runs-on: ubuntu-latest
    steps:
      - name: Perform scanning
        id: pentesttools-scan
        uses: pentesttoolscom/pentesttools-github-action@v0.0.4-alpha
        with:
          target: "${{ inputs.target-url }}"
          fail: "high"
      - name: Upload report as artifact
        if: steps.pentesttools-scan.outputs.result != ''
        uses: actions/upload-artifact@v5
        with:
          name: report.ptt
          path: "${{ steps.pentesttools-scan.outputs.result }}"
